body{
    background-color: #151515;
}
.card{
    width: 200px;
    height: 250px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    background-color: #151515;
    border: 5px solid;
    padding-top: 20px;
    border-image:
    linear-gradient(
        #ff512f,
        #dd2476,
        #1c64ff) 1;
        animation: rotate
        2.5s
        ease-in
        infinite;
}
@keyframes rotate {
    50%{
        border-image: 
        linear-gradient(
        360deg,
        #ff512f,
        #dd2476,
        #1c64ff) 1;
    }
}